@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.container {
    margin: 0 auto;
    max-width: 1140px;
    overflow: hidden;
}


/* Navigation bar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.navbar_lists {
    display: flex;
    gap: 40px;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    color: #4F5665;
}

.auth a {
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    color: #0B132A;
    padding: 13px 45px;
}

.auth a:last-child{
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    color: rgb(245, 56, 85);
    padding: 13px 45px;
    border: 1px solid red;
    border-radius: 50px;
}

/* First section */

.advertising_content {
    margin-top: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.advertising_content_start h1 {
    color: rgb(11, 19, 42);
    font-family: Rubik;
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
}

.advertising_content_start p {
    margin-top: 20px;
    color: rgb(79, 86, 101);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.btn {
    margin-top: 50px;
    height: fit-content;
    padding: 18px 76px;
    border: none;
    border-radius: 10px;
    background: rgb(245, 56, 56);
    color: rgb(255, 255, 255);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0 10px 30px rgba(245, 56, 56)
}

/* Second section */

.services {
    margin-top: 103px;
    padding: 68px 91px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 60px 130px rgb(223 223 223);
    justify-content: space-between;
}

.services__content {
    display: flex;
    align-items: center;
    gap: 37px;
}

.services__content_text {
    line-height: 5px;
}

.services__content_text h3 {
    color: rgb(11, 19, 42);
    font-family: Rubik;
    font-size: 25px;
    font-weight: 700;
}

.services__content_text p {
    color: rgb(79, 86, 101);
    font-family: Rubik;
    font-size: 20px;
    font-weight: 400;
}

.services__content:nth-child(2)  {
    padding: 0 135px 0 113px;
    border-right:  2px solid rgb(238, 239, 242);
    border-left:  2px solid rgb(238, 239, 242);
}

/* Third section */

.features {
    margin-top: 95px;
    display: flex;
    justify-content: space-between;
}

.features__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 70px 0 131px;
}

.features__content h2 {
    color: rgb(11, 19, 42);
    font-family: Rubik;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
}

.features__content p {
    color: rgb(79, 86, 101);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.features__content ul {
    color: rgb(79, 86, 101);
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    list-style-type: none;
    padding: 0;
}

.features__content ul li {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* Fourth section */

.plans {
    margin-top: 211px;
}

.plans__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1px;
    margin: 0 267px;
    text-align: center;
}

.title__paragraph {
    color: rgb(11, 19, 42);
    font-family: Rubik;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    margin: 0;
}

.paragraph {
    color: rgb(79, 86, 101);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0 0 0;
}

.plans__rates {
    display: flex;
    justify-content: space-between;
}

.plans__rates_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 76px 50px;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 10px;
    margin: 60px 0 150px 0;
}

.plans__rates_content h3 {
    margin-top: 30px;
    color: rgb(11, 19, 42);
    font-family: Rubik;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.plans__rates_content ul  {
    padding: 0;
    height: 183px;
}

.plans__rates_content ul li {
    display: flex;
    align-items: center;
    gap: 12px;
    color: rgb(79, 86, 101);
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.plans__rates_content p {
    color: rgb(11, 19, 42);
    font-family: Rubik;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
}

.plans__rates_content-span {
    color: rgb(79, 86, 101);
    font-family: Rubik;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
}

.plans__rates_content:nth-child(3) {
    border: 2px solid rgb(245, 56, 56);
    border-radius: 10px;
}

.button_link_btn {
    color: white;
    background-color: rgb(245, 56, 56);;
}

/* Fifth section */

.map {
    margin-bottom: 125px;
}

.map__title {
    text-align: center;
    margin: 0 290px;
}

.map__title span {
    color: #4F5665;
    font-weight: 600;
}

.map__image {
    margin-top: 156px;
}

.companies {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Sixth section */

.customers__users {
    margin-top: 60px;
    display: flex;
    gap: 50px;
    width: 1172px;
}

.customers__user {
    padding: 30px;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 10px;
    height: fit-content;
}

.customers__user:nth-child(1) {
    border: 2px solid rgb(245, 56, 56);
    border-radius: 10px;
    height: fit-content;
}

.customers__user p {
    line-height: 30px;
}

.customer__user-info {
    display: flex;
    align-items: center;
}

.customers__user-name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 78px 0 20px;
}

.customers__user-name p {
    color: rgb(79, 86, 101);
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
}

.customer__user-info-icon {
    margin-left: 10px;
}

.customers__btn_icons {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customers__btn_icons-arrows {
    display: flex;
    gap: 20px;
}

/* Seventh section */

.subscribe {
    padding: 59px 70px;
    margin-top: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 60px 130px rgb(223 223 223);
}

.subscribe__title {
    margin-right: 350px;
}

.btn-subscribe {
    width: 40%;
    margin-top: 0;
    height: fit-content;
    padding: 18px 76px;
    border: none;
    border-radius: 10px;
    background: rgb(245, 56, 56);
    color: rgb(255, 255, 255);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0 10px 10px rgba(245, 56, 56)
}